@font-face {
  font-family: 'PressStart';
  src: url(/PressStart2P-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'PressStart';
}

.game {
  display: none;
}

.open-page {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  height: 40vh;
}

.game-title {
  font-size: 2.3rem;
}

.start-game {
  width: 20vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
