@font-face {
  font-family: 'PressStart';
  src: url(/PressStart2P-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'PressStart';
}

body {
  background-color: #17b2e8;
}

.open-page {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  height: 40vh;
}

.game-title {
  font-size: 2.3rem;
  animation: bobbing 5000ms infinite;
}

.start-game {
  width: 20vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  background-color: #4fdc23;
}

.start-game:hover {
  transform: scale(1.1);
  background-color: #50c43b;
  cursor: pointer;

  img {
    fill: #17b2e8;
  }
}

@keyframes bobbing {
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
